<ion-view view-title="Sessions">
<div class="bar bar-subheader list list-inset">
    <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input id="searchKey" autocorrect="off" type="text" placeholder="Search">
    </label>
</div>
<ion-content class="has-subheader">
<ion-tabs class="tabs-striped tabs-top ">

<ion-tab title="Toutes">
<ion-pane>
<!-- Tab 1 content -->
<ion-list>
<ion-item ng-repeat="session in sessions" href="#/app/sessions/{{session.id}}">
<span ng-bind="session.title"></span>
<p><i class="icon ion-pricetags placeholder-icon"></i><span ng-bind="session.title"></span></p>
</ion-item>
</ion-list>
</ion-pane>
</ion-tab>

<ion-tab title="En cours" >
<!-- Tab 2 content -->
</ion-tab>

<ion-tab title="Prochaines sessions">
<!-- Tab 3 content -->
</ion-tab>

</ion-tabs>
</ion-content>
</ion-view>
